#Ignore environment variables
backend/.env
backend/.env.*

# ignore composer dependencies and lockfile
backend/vendor/
backend/composer.lock

#ignore logs (just in case)
*.log

#ignore test/debug files
backend/testConfig.php
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/graham-campbell/result-type/composer.json
vendor/graham-campbell/result-type/LICENSE
vendor/graham-campbell/result-type/src/Error.php
vendor/graham-campbell/result-type/src/Result.php
vendor/graham-campbell/result-type/src/Success.php
vendor/phpoption/phpoption/composer.json
vendor/phpoption/phpoption/LICENSE
vendor/phpoption/phpoption/src/PhpOption/LazyOption.php
vendor/phpoption/phpoption/src/PhpOption/None.php
vendor/phpoption/phpoption/src/PhpOption/Option.php
vendor/phpoption/phpoption/src/PhpOption/Some.php
vendor/symfony/polyfill-ctype/bootstrap.php
vendor/symfony/polyfill-ctype/bootstrap80.php
vendor/symfony/polyfill-ctype/composer.json
vendor/symfony/polyfill-ctype/Ctype.php
vendor/symfony/polyfill-ctype/LICENSE
vendor/symfony/polyfill-ctype/README.md
vendor/symfony/polyfill-mbstring/bootstrap.php
vendor/symfony/polyfill-mbstring/bootstrap80.php
vendor/symfony/polyfill-mbstring/composer.json
vendor/symfony/polyfill-mbstring/LICENSE
vendor/symfony/polyfill-mbstring/Mbstring.php
vendor/symfony/polyfill-mbstring/README.md
vendor/symfony/polyfill-mbstring/Resources/unidata/caseFolding.php
vendor/symfony/polyfill-mbstring/Resources/unidata/lowerCase.php
vendor/symfony/polyfill-mbstring/Resources/unidata/titleCaseRegexp.php
vendor/symfony/polyfill-mbstring/Resources/unidata/upperCase.php
vendor/symfony/polyfill-php80/bootstrap.php
vendor/symfony/polyfill-php80/composer.json
vendor/symfony/polyfill-php80/LICENSE
vendor/symfony/polyfill-php80/Php80.php
vendor/symfony/polyfill-php80/PhpToken.php
vendor/symfony/polyfill-php80/README.md
vendor/symfony/polyfill-php80/Resources/stubs/Attribute.php
vendor/symfony/polyfill-php80/Resources/stubs/PhpToken.php
vendor/symfony/polyfill-php80/Resources/stubs/Stringable.php
vendor/symfony/polyfill-php80/Resources/stubs/UnhandledMatchError.php
vendor/symfony/polyfill-php80/Resources/stubs/ValueError.php
vendor/vlucas/phpdotenv/composer.json
vendor/vlucas/phpdotenv/LICENSE
vendor/vlucas/phpdotenv/src/Dotenv.php
vendor/vlucas/phpdotenv/src/Validator.php
vendor/vlucas/phpdotenv/src/Exception/ExceptionInterface.php
vendor/vlucas/phpdotenv/src/Exception/InvalidEncodingException.php
vendor/vlucas/phpdotenv/src/Exception/InvalidFileException.php
vendor/vlucas/phpdotenv/src/Exception/InvalidPathException.php
vendor/vlucas/phpdotenv/src/Exception/ValidationException.php
vendor/vlucas/phpdotenv/src/Loader/Loader.php
vendor/vlucas/phpdotenv/src/Loader/LoaderInterface.php
vendor/vlucas/phpdotenv/src/Loader/Resolver.php
vendor/vlucas/phpdotenv/src/Parser/Entry.php
vendor/vlucas/phpdotenv/src/Parser/EntryParser.php
vendor/vlucas/phpdotenv/src/Parser/Lexer.php
vendor/vlucas/phpdotenv/src/Parser/Lines.php
vendor/vlucas/phpdotenv/src/Parser/Parser.php
vendor/vlucas/phpdotenv/src/Parser/ParserInterface.php
vendor/vlucas/phpdotenv/src/Parser/Value.php
vendor/vlucas/phpdotenv/src/Repository/AdapterRepository.php
vendor/vlucas/phpdotenv/src/Repository/RepositoryBuilder.php
vendor/vlucas/phpdotenv/src/Repository/RepositoryInterface.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/AdapterInterface.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ApacheAdapter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ArrayAdapter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/EnvConstAdapter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/GuardedWriter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ImmutableWriter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/MultiReader.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/MultiWriter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/PutenvAdapter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ReaderInterface.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ReplacingWriter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/ServerConstAdapter.php
vendor/vlucas/phpdotenv/src/Repository/Adapter/WriterInterface.php
vendor/vlucas/phpdotenv/src/Store/FileStore.php
vendor/vlucas/phpdotenv/src/Store/StoreBuilder.php
vendor/vlucas/phpdotenv/src/Store/StoreInterface.php
vendor/vlucas/phpdotenv/src/Store/StringStore.php
vendor/vlucas/phpdotenv/src/Store/File/Paths.php
vendor/vlucas/phpdotenv/src/Store/File/Reader.php
vendor/vlucas/phpdotenv/src/Util/Regex.php
vendor/vlucas/phpdotenv/src/Util/Str.php
.env
composer.lock
